main {
    display: flex;
    flex-flow: row;
    width: 100vw;
    height: 100vh;
}

#left-side {
    background-image: url(/media/convertkit-n1m4Ftm2vs8-unsplash.jpg);
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    width: 40vw;
    max-height: 100vh;
}

#logo-text > logo {
    
}

#right-side {
    width: 60vw;
}